service cloud.firestore {
  match /databases/{database}/documents {
    // match /{document=**} {
    //   allow read, write;
    // }
    
    // function isAuthenticated() {
    // 	return request.auth.uid != null;
    // }
    
    function isOwnUserId() {
    	return request.resource.data.userId == request.auth.uid;
    }
    
    function isOwn() {
      // request with userId matches auth, otherwise existing userId matches auth
    	return isOwnUserId() || resource.data.userId == request.auth.uid;
    }
    
    function getListOwner(listId) {
    	return get(/databases/$(database)/documents/lists/$(listId)).data.userId;
    }
    
    // doesn't work... 
    // function doesNotModifyListId() {
    // 	return !("listId" in request.resource.data);
    // }
    
    function isOwnList() {
    	return getListOwner(request.resource.data.listId) == request.auth.uid;
    }
    
    function isValidList() {
    	return request.resource.data.title != '';
    }
    
    function isValidListItem() {
    	return request.resource.data.title != ''
      	&& request.resource.data.listId != '';
    }

    match /lists/{list} {
			allow read, update, delete: if isOwn();
      allow create: if isOwn() && isValidList();
    }
    
    match /items/{item} {
      allow read, delete: if isOwn();
      allow update: if isOwn() && isOwnList();
      allow create: if isOwn() && isOwnList() && isValidListItem();
    }
  }
}
